* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: linear-gradient(#292518 50%, #85a1fd 100%);
  color: white;
  font-family: "Courier New", Courier, monospace;
  min-height: 100vh;
}
header {
  font-size: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
form input {
  padding: 0.5rem;
  font-size: 2rem;
  border: none;
  background: white;
}
form button {
  padding: 0.5rem;
  font-size: 2rem;
  border: none;
  background: white;
  color: #110f0e;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
form button:hover {
  background: #10101b;
  color: white;
}
.todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-list {
  min-width: 25.8%;
  list-style: none;
}

.todo {
  margin: 0.5rem;
  background: rgb(17, 127, 146);
  font-size: 1.5rem;
  color: rgb(190, 202, 235);
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 1s ease;
}

.todo li {
  flex: 1;
}
.fa-trash {
  pointer-events: none;
}
.fa-check {
  pointer-events: none;
}
.trash-btn,
.complete-btn {
  background: #31e22b;
  color: rgb(7, 7, 7);
  border: none;
  padding: 1rem;
  cursor: pointer;
  font-size: 1.5rem;
}
.complete-btn {
  background: rgb(23, 3, 114);
}
.completed {
  text-decoration: line-through;
  opacity: 0.5;
}
.todo-item {
  padding: 0rem 1.5rem;
}
.fall {
  transform: translateY(35rem) rotateZ(76deg);
  opacity: 0;
}
